@tailwind base;
@tailwind components;
@tailwind utilities;
.text-shadow-custom {
    text-shadow: 4px 8px 8px rgba(255, 0, 0, 0.7), 8px 4px 6px rgba(0, 0, 255, 0.5);
}

.text-gradient-my {
    background: linear-gradient(90deg, #f0f, #0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}